* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #f7eadc;
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-left: 0.75rem;
}

p {
  margin-bottom: 1.25rem;
  color: #8f8f8f;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #88d1ca;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 80vw;
  max-width: 620px;
}

.review {
  background: #ececec;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  text-align: center;
}

.review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: #cf6123;
  color: #fff;
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #f1e9bb;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

#author {
  margin-bottom: 0.25rem;
}

#job {
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  color: #e02130;
  font-size: 0.85rem;
}

#info {
  margin-bottom: 0.75rem;
}

.prev-btn,
.next-btn {
  color: #0d0f36;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: #050003;
}

.random-btn{
    margin-top: 0.5rem;
    background: #f1e9bb;
    color: #0d0f36;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius:  0.25rem;
    transition:all 0.3s linear ;
    border-color: #050003;
    cursor: pointer;
}

.random-btn:hover{
    background: #ececec;
    color: #050003;
}
